/* -- footer --
--------------------------------------------------------------*/
.p-footer {
  text-align: center;

  &__copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
  }
}
